*{
	outline: 0;
}
body{
	font-family: "Comic San MS";
	color: #000;
	font-weight: 400;
	line-height: 16px;
}
.main_container{
	width: 900px;
	margin: 2px auto;
	background-color: blue;
}
.header, .footer{
	background-color: grey;
	height: 40px;
}
.text_poriborton{
	border: 1px solid #000;
	height: 200px;
	padding: 15px;
}
.header h2 {
	text-align: center;
	color: #F07DC9;
	padding-top: 10px;
}
.js_color{
	color: red;
}
#color_test{
	background-color: grey;
	border: 5px solid black;
	margin-top: 30px;
}
.footer h3{
	text-align: center;
	color: #F07DC9;
	padding-top: 10px;
}
.content{
	background-color: #fff;
	margin: 10px 4px;
	min-height: 450px;
}
.js_content{
	padding: 20px 0 0 15px;
}
#nm, #gend, #hob, #dept{
	width: 300px;
	height: 200px;
	float: left;
	font-size: 20px;
	font-family: "Comic Sans MS";
	border: 5px solid #000;
	padding: 10px;
	margin: 5px 15px;
	
}
.default_hide{
	/*visibility: hidden; */
	display: none
}
#read_short{
	display: none
}
#txt_box{
	border: 1px solid #000;
	width: 350px;
	height: 250px;
}
.bx1{
	border: 1px solid #000;
	width: 150px;
	height: 150px;
}

input[type="text"] {
	width: 302px;
	padding: 8px;
	background-color: #DBDBDB;
	border: 1px solid #143A92;
}
.user_result{
    
}